<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>Hello Spring Security</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/webjars/font-awesome/5.10.1/css/all.min.css">
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/webjars/bootstrap-vue/2.0.1/dist/bootstrap-vue.min.css">
<link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
</head>

<body>
 <div th:include="header"></div>
 <p>This is an unsecured page, but you can access the secured pages after authenticating.</p>
 <ul>
  <li>Go to the <a href="/user/index" th:href="@{/user/index}">secured pages</a></li>
 </ul>
</body>
<script type="text/javascript" src="/polyfill.v3.min.js"></script>
<script type="text/javascript" src="/webjars/axios/0.18.0/dist/axios.min.js"></script>
<script type="text/javascript" src="/webjars/vue/2.6.6/dist/vue.js"></script>
<script type="text/javascript" src="/webjars/bootstrap-vue/2.0.1/dist/bootstrap-vue.js"></script>
</html>